/.conan/
#Backup files
*\~
*swp
*blend[0-9]
*\.bak

#MacOS
Thumbs.db
.DS_Store

#Emacs buffers
\#*\#
\.\#*

/\.idea
/\.vs

/build
/_build
/Win32
/bin

#compiled shaders
*\.spv

android/app/CMakeLists.txt

scripts/tmp*
